Repository Lightspots/kotlin-websites, changes with the labels that .github/labeler.yml gives for each.
All labels: area/repo, area/leber-gartenbahn.ch, area/reitstall-goldberghof.de, area/shared

.github/labeler.yml:

area/repo:
  - ./*
  - .github/*
  - .github/**/*
  - gradle/*
  - gradle/**/*

area/leber-gartenbahn.ch:
  - leber-gartenbahn.ch/*
  - leber-gartenbahn.ch/**/*

area/reitstall-goldberghof.de:
  - reitstall-goldberghof.de/*
  - reitstall-goldberghof.de/**/*

area/shared:
  - shared/*
  - shared/**/*

📖 Fix typo in readme
  Readme.md
Labels: area/repo

✨ Update Slider.kt
  shared/src/main/kotlin/ch/lightspots/it/web.manager/VisibilityManager.kt
  shared/src/main/kotlin/ch/lightspots/it/web/slider/Slider.kt
Labels: area/shared

✨ [slider] Add possibility to show images in random order
  shared/src/main/kotlin/ch/lightspots/it/web/slider/Slider.kt
Labels: area/shared

💚 Force public npm registry
  build.gradle.kts
  reitstall-goldberghof.de/build.gradle.kts
Labels: area/repo, area/reitstall-goldberghof.de

✨ [slider] Add progress bar, stop on hover
  reitstall-goldberghof.de/build.gradle.kts
  shared/build.gradle.kts
  shared/src/main/kotlin/ch/lightspots/it/web/slider/Slider.kt
Labels: area/reitstall-goldberghof.de, area/shared

✨ [slider] Add buttons to switch images
  reitstall-goldberghof.de/src/main/resources/index.html
  shared/src/main/kotlin/ch/lightspots/it/web/slider/Slider.kt
Labels: area/reitstall-goldberghof.de, area/shared

💚 [deploy] Deploy using ftp
  .git-ftp-include
  .github/workflows/gradle.yml
  gradlew
Labels: area/repo

💚 [deploy] Comment Link to page on pr
  .github/workflows/gradle.yml
Labels: area/repo

💚 [deploy] Improve upload performance
  .git-ftp-include
Labels: area/repo

💚 [deploy] Only deploy for pushes
  .github/workflows/gradle.yml
Labels: area/repo

💚 [deploy] Improve performance of deploy
  .git-ftp-include
Labels: area/repo

💚 [deploy] Add production deployment from master branch
  .github/workflows/deploy_prod.yml
Labels: area/repo

💚 [deploy] Deploy to home folder of user
  .github/workflows/deploy_prod.yml
Labels: area/repo

💚 [deploy] Deploy to correct folder on production
  .git-ftp-include
  .github/workflows/deploy_prod.yml
  .github/workflows/gradle.yml
Labels: area/repo

💚 [deploy] Fix ftp upload
  .github/workflows/gradle.yml
Labels: area/repo

💚 [deploy] Add artifact upload
  .github/workflows/gradle.yml
Labels: area/repo

💚 [deploy] Use another ftp action
  .github/workflows/gradle.yml
Labels: area/repo

💚 [deploy] Use our own deploy action
  .github/workflows/gradle.yml
Labels: area/repo

Revert "💚 [deploy] Use our own deploy action"
  .github/workflows/gradle.yml
Labels: area/repo

💚 [deploy] Remove files not present at source
  .github/workflows/gradle.yml
Labels: area/repo

💚 [deploy] Update deploy to prod
  .github/workflows/deploy_prod.yml
  .github/workflows/gradle.yml
Labels: area/repo

💚 [deploy] Fix if expression for prod deployment
  .github/workflows/gradle.yml
Labels: area/repo

🔨 [shared] Move Visibility Manager to correct location
  shared/src/main/kotlin/ch/lightspots/it/web/manager/VisibilityManager.kt
Labels: area/shared

🔨 Extract nav bar into own component
  .git-ftp-include
  reitstall-goldberghof.de/src/main/kotlin/ch/lightspots/it/web/Header.kt
  reitstall-goldberghof.de/src/main/kotlin/ch/lightspots/it/web/Website.kt
  shared/src/main/kotlin/ch/lightspots/it/web/menu/Menu.kt
Labels: area/repo, area/reitstall-goldberghof.de, area/shared

✨ [slider] Display pointer cursor on buttons
  shared/src/main/kotlin/ch/lightspots/it/web/slider/Slider.kt
Labels: area/shared

✨ Update gradle
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Labels: area/repo

✨ Working mobile menu
  shared/src/main/kotlin/ch/lightspots/it/web/menu/Menu.kt
Labels: area/shared

⬆️ Bump gradle version
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Labels: area/repo

⬆️ Bump kotlin and library versions
  build.gradle.kts
  buildSrc/src/main/kotlin/Versions.kt
  reitstall-goldberghof.de/build.gradle.kts
  reitstall-goldberghof.de/src/main/kotlin/Main.kt
  reitstall-goldberghof.de/src/main/kotlin/ch/lightspots/it/web/pages/index/OverviewMap.kt
  shared/build.gradle.kts
  shared/src/main/kotlin/ch/lightspots/it/web/manager/VisibilityManager.kt
  shared/src/main/kotlin/ch/lightspots/it/web/slider/Slider.kt
Labels: area/repo, area/reitstall-goldberghof.de, area/shared

💚 Add gitattributes
  .gitattributes
Labels: area/repo

✨ Add video file
  reitstall-goldberghof.de/src/main/resources/videos/Heuen_2017.mp4
Labels: area/reitstall-goldberghof.de

✨ Embed video on main page
  reitstall-goldberghof.de/src/main/kotlin/ch/lightspots/it/web/pages/index/IndexComponent.kt
Labels: area/reitstall-goldberghof.de

💚 checkout lfs files
  .github/workflows/gradle.yml
Labels: area/repo

🔨 Remove video from git, deliver it from cdn
  .gitattributes
  .github/workflows/gradle.yml
  reitstall-goldberghof.de/src/main/kotlin/ch/lightspots/it/web/pages/index/IndexComponent.kt
  reitstall-goldberghof.de/src/main/resources/videos/Heuen_2017.mp4
Labels: area/repo, area/reitstall-goldberghof.de

✨ Add poster to video tag
  .github/workflows/gradle.yml
  build.gradle.kts
  reitstall-goldberghof.de/src/main/kotlin/ch/lightspots/it/web/pages/index/IndexComponent.kt
Labels: area/repo, area/reitstall-goldberghof.de

⬆️ Update gradle
  gradle/wrapper/gradle-wrapper.properties
Labels: area/repo

💚 Replace dev url with correct one
  .github/workflows/gradle.yml
Labels: area/repo

✨ Embbed video from youtube to improve performance and quality chooser
  reitstall-goldberghof.de/src/main/kotlin/ch/lightspots/it/web/pages/index/IndexComponent.kt
  reitstall-goldberghof.de/src/main/resources/custom.css
  reitstall-goldberghof.de/src/main/resources/index.html
Labels: area/reitstall-goldberghof.de

💚 Switch to ubuntu-20.04 for actions
  .github/workflows/gradle.yml
  .github/workflows/labeler.yml
Labels: area/repo

⬆️ Update gradle
  gradle/wrapper/gradle-wrapper.properties
Labels: area/repo
